request.configure(
    aws_access_key_id: 'AKIAJPMQVIZLYQZWUOMA',
    aws_secret_access_key: '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',
    associate_tag: 'tag'
)

export AWS_ACCESS_KEY_ID=AKIAJPMQVIZLYQZWUOMA
export AWS_SECRET_ACCESS_KEY=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